body {
    background-color: black;
    font-family: 'nunito';
    letter-spacing: .17em;
    font-size: 20px;
    line-height: 0px;
    display: flex;  
    flex-direction: column;
}
#rideCymbal {
    cursor: pointer;
}
#ride1 {
    cursor: pointer;
    height: 100px;
}
#tomDrum {
    cursor: pointer;
}
#floor1 {
    cursor: pointer;
    height: 100px;
}
#kd {
    cursor: pointer;
}
#kick1{
    cursor: pointer;
    height: 100px;
}
#snareDrum {
    cursor: pointer;
}
#snare1{
    cursor: pointer;
    height: 100px;
}
#hiHatTop {
    cursor: pointer;
}
#closedHats1{
    cursor: pointer;
    height: 100px;
}
#hiHatBottom{
    cursor: pointer;
}
#openHats1{
    cursor: pointer;
    height: 100px;
}

/* INSTRUCTION KEYS  */


.drum1{
    flex-direction: column;
    margin: 20px;  
    color:#FF4242;
}
.drum1 :active{
    background-color: #fff;
    box-shadow:
      0 0 60px 30px #fff,  /* inner white */
      0 0 50px 30px #FF4242, /* middle red */
      0 0 70px 45px #FF4242; /* outer red */
}

.drum2{
    flex-direction: column;
    margin: 20px; 
    color: #FAFF00; 
}
.drum2 :active{
    background-color: #fff;
    box-shadow:
      0 0 60px 30px #fff,  /* inner white */
      0 0 50px 30px #FAFF00, /* middle red */
      0 0 70px 45px #FAFF00 /* outer red */
}

.drum3{
    flex-direction: column;
    margin: 20px; 
    color: #FF01FB; 
}
.drum3 :active{
    background-color: #fff;
    box-shadow:
      0 0 60px 30px #fff,  
      0 0 50px 30px #FF01FB, 
      0 0 70px 45px #FF01FB
}



.drum4{
    flex-direction: column;
    margin: 20px;  
    color: #02A9EA;
}
.drum4 :active{
    background-color: #fff;
    box-shadow:
      0 0 60px 30px #fff,  /* inner white */
      0 0 50px 30px #02A9EA, /* middle red */
      0 0 70px 45px #02A9EA; /* outer red */
}
.drum5{
    flex-direction: column;
    margin: 20px;  
    color: #3E8914;
}
.drum5 :active{
    background-color: #fff;
    box-shadow:
      0 0 60px 30px #fff,  /* inner white */
      0 0 50px 30px #3E8914, /* middle red */
      0 0 70px 45px #3E8914; /* outer red */
}
.drum6{
    flex-direction: column;
    margin: 20px;  
    color: lime;
}
.drum6 :active{
    background-color: #fff;
    box-shadow:
      0 0 60px 30px #fff,  /* inner white */
      0 0 50px 30px lime, /* middle red */
      0 0 70px 45px lime; /* outer red */
}

.instruction{
    text-align: center;
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
}


/* DRUM LAYOUT  */
.drumdiv{
    margin: 10px;
    position:absolute;
    min-width:100%;
    min-height:100%;
    display: flex;
    justify-content: center;
    align-items:center;
    /* flex-direction: row; */
}
/* RIDE  */
#rideCymbal {
    position: relative;
    bottom: 200px;
    left:100px;
    transform: rotate(10deg);
    height: 5px;
    width: 220px;
    border: 3px solid #FF4242;
    background-color: white;
    border-radius: 3%;  
} 
/* RIDE ON CLICK  */
#rideCymbal:active{
    position: relative;
    transform: rotate(10deg);
    width: 220px;
    height: 5px;
    border-radius: 3%;
    border:0px;
    background-color: #fff;
    box-shadow:
      0 0 60px 30px #fff,  /* inner white */
      0 0 100px 60px #FF4242, /* middle red */
      0 0 140px 90px #FF4242; /* outer red */
}
@keyframes ride{
   0%, 100% {position: relative;
    transform: rotate(10deg);
    width: 220px;
    height: 5px;
    border-radius: 3%;
    border:0px;
    background-color: #fff;
    box-shadow:
      0 0 60px 30px #fff,  /* inner white */
      0 0 100px 60px #FF4242, /* middle red */
      0 0 140px 90px #FF4242; /* outer red */
    }   
}
/* FLOOR TOM  */
/* SHAPE */
#tomDrum{
    position:relative;
    transform: rotate(9deg);
    bottom: 30px;
    right:20px;
    height: 200px;
    width: 170px;
    border: 7px solid #FAFF00;
    background-color: white;
    border-radius: 3%;
}
/* FLOOR TOM ON CLICK  */
#tomDrum:active{
    width: 170px;
    height: 200px;
    border-radius: 3%;
    border:0px;
    background-color: #fff;
    box-shadow:
      0 0 60px 30px #fff,  /* inner white */
      0 0 100px 60px #FAFF00, /* middle yellow */
      0 0 140px 90px #FAFF00; /* outer yellow */
}
@keyframes tomBody{
    0%, 100%{
    width: 170px;
    height: 200px;
    border-radius: 3%;
    border:0px;
    background-color: #fff;
    box-shadow:
      0 0 60px 30px #fff,  /* inner white */
      0 0 100px 60px #FAFF00, /* middle yellow */
      0 0 140px 90px #FAFF00; /* outer yellow */
    }   
}
/* KICK DRUM */
#kd{
    position: relative;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: white;
    border: 10px solid #FF01FB;
}
/* KICK DRUM ON CLICK  */
#kd:active{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border:0px;
    background-color: #fff;
    box-shadow:
      0 0 60px 30px #fff,  /* inner white */
      0 0 100px 60px #FF01FB, /* middle magenta */
      0 0 140px 90px #FF01FB; /* outer magenta */
}
@keyframes kickDrum{
    
    0%, 100% {
        position: relative;
        width: 300px;
        height: 300px;
        border-radius: 50%;
    
        background-color: #fff;
        box-shadow: 0 0 60px 30px #fff, 0 0 100px 60px #FF01FB, 0 0 140px 90px #FF01FB;
    }
}
/* SNARE DRUM  */
#snareDrum {
    position:relative;
    bottom: 100px;
    transform: rotate(-7deg);
    height: 70px;
    width: 150px;
    border: 7px solid #02A9EA;
    background-color: white;
    border-radius: 3%;
} 
/* SNARE ON CLICK  */
#snareDrum:active{
    width: 150px;
    height: 70px;
    border-radius: 3%;
    border:0px;
    background-color: #fff;
    box-shadow:
      0 0 60px 30px #fff,  /* inner white */
      0 0 100px 60px #02A9EA, /* middle cyan */
      0 0 140px 90px #02A9EA; /* outer cyan */
}
@keyframes snareBody{
    0%, 100%{
        
        position: relative;
        width: 150px;
        height: 70px;
        border-radius: 3%;
        border:0px ;
        background-color: #fff;
        box-shadow:
          0 0 60px 30px #fff,  /* inner white */
          0 0 100px 60px #02A9EA, /* middle cyan */
          0 0 140px 90px #02A9EA; /* outer cyan */
    } 
}
/* HI HATS  */
#hiHatTop {
    position: relative;
    bottom: 200px;
    right:40px;
    flex-direction: column;
    transform: rotate(0deg);
    height: 5px;
    width: 120px;
    border: 3px solid #3E8914;
    background-color: white;
    border-radius: 3%;
}
/* HI HAT TOP ON CLICK  */
#hiHatTop:active{
    width: 120px;
    height: 5px;
    border-radius: 3%;
    border:0px;
    background-color: #fff;
    box-shadow:
      0 0 60px 30px #fff,  /* inner white */
      0 0 100px 60px #3E8914, /* middle green */
      0 0 140px 90px #FAFF00;
}
@keyframes top{
    0%, 100% {
    position: relative;
    width: 120px;
    height: 5px;
    border-radius: 3%;
    border:0px;
    background-color: #fff;
    box-shadow:
      0px 0px 60px 30px #fff,  /* inner white */
      0 0 100px 60px #3E8914, /* middle green */
      0 0 140px 90px #FAFF00;  
}
}
#hiHatBottom {
    position: relative;
    bottom: 170px;
    right: 165px;
    height: 5px;
    width: 120px;
    border: 3px solid lime;
    background-color: white;
    border-radius: 3%;  
}
/* HI HAT BOTTOM ON CLICK  */
#hiHatBottom:active{
    width: 120px;
    height: 5px;
    border-radius: 3%;
    border:0px;
    background-color: #fff;
    box-shadow:
      0 0 60px 30px #fff,  /* inner white */
      0 0 100px 60px lime, /* middle green */
      0 0 140px 90px #FAFF00; /* outer yellow */
}
@keyframes bottom{
    0% {
    position: relative;
    width: 120px;
    height: 5px;
    border-radius: 3%;
    border:0px;
    background-color: #fff;
    box-shadow:
      0 0 60px 30px #fff,  /* inner white */
      0 0 100px 60px lime, /* middle green */
      0 0 140px 90px #FAFF00; /* outer yellow */
    
}
}



/* MEDIA QUERIES  */
@media only screen and (max-width: 1000px) {
    .instruction {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        justify-content: space-around;
        margin: 10px 30px;
    }
    .instruction div{
        flex:25%;
        align-items: center;
    }
.drumdiv {
    top:100px;
    -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);   
}   

@media only screen and (max-width: 650px) {
    .instruction {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        justify-content: space-around;
        margin: 10px 10px;
    }
    .instruction div{
        flex: 50%;
        align-content: center;
    }
.drumdiv {
    top:100px;
    right:-270px;
    -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);   
}   
@media only screen and (max-width: 450px) {
    .instruction {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        justify-content: space-around;
        margin: 10px 30px;
    }
    .instruction div{
        flex:50%;
        align-items: center;
    }
p{
    font-size: 15px;
    flex-direction: column;
}
.drumdiv {
    position: fixed;
    margin-right: -90px;
    top:10px;
    -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  -ms-transform: scale(0.4);
  transform: scale(0.4);   
}   

/* @media only screen and (max-width: 1000px){
    .instruction {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .instruction div{
        flex:50%
    } 
    p {
    margin:20px;
     }
    .drumdiv{
    position: absolute;
    -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);  
}
}
@media  only screen and (max-width: 
772px) {
    .instruction{
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .instruction div{
        flex:50%
    } 
    p {
    margin:20px;
     }
    }
    .drumdiv{
        position: absolute;
        -webkit-transform: scale(0.5);
      -moz-transform: scale(0.5);
      -ms-transform: scale(0.5);
      transform: scale(0.5);  
    }
}
@media only screen and (max-width: 550px){
    .drumdiv{
        position: absolute;
        -webkit-transform: scale(0.4);
      -moz-transform: scale(0.4);
      -ms-transform: scale(0.4);
      transform: scale(0.4);  
    }
}

@media only screen and (max-width: 440px){
    .drumdiv{
    position: absolute;
    -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  -ms-transform: scale(0.3);
  transform: scale(0.3);  
}} */


